<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet">
		<result column="USER_ID" property="userId"/>
		<result column="USER_NO" property="userNo"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="PET_YN" property="petYN"/>
		<result column="USER_GRADE" property="userGrade"/>
		<result column="KIND_NAME" property="kindName"/>
		<result column="STATUS" property="status"/>
		<result column="JOIN_DATE" property="joinDate"/>
		<result column="SITTER_STATUS" property="sitterStatus"/>
	</resultMap>
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE USER_ID=#{userId}
	</select>
	<select id="searchId" parameterType="Member" resultMap="memberResultSet">
		SELECT USER_ID FROM MEMBER WHERE NAME=#{name} AND PHONE=#{phone} AND STATUS='Y'
	</select>
	<update id="changePw" parameterType="Member">
		UPDATE MEMBER SET PASSWORD=#{password} WHERE USER_ID=#{userId} AND STATUS='Y'
	</update>
	<select id="checkId" parameterType="Member" resultMap="memberResultSet">
		SELECT USER_ID FROM MEMBER WHERE USER_ID=#{userId} AND STATUS='Y'
	</select>
	<select id="newUserNo" resultType="_int">
		SELECT SEQ_MEM.NEXTVAL FROM DUAL
	</select>
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER(USER_ID,USER_NO,PASSWORD,NAME,PHONE,EMAIL,ADDRESS,PET_YN,USER_GRADE) 
		VALUES(#{userId},#{userNo},#{password},#{name},#{phone},#{email},#{address},#{petYN},0)
	</insert>
	<select id="isUserRestricted" parameterType="int" resultType="boolean">
		SELECT CASE 
    		WHEN RESTRICTED_UNTIL > CURRENT_TIMESTAMP THEN 1
    		ELSE 0
		END AS DAYS
		FROM MEMBER
		WHERE USER_NO = #{userNo}
	</select>
	<update id="restrictUser" parameterType="hashmap">
		UPDATE MEMBER SET RESTRICTED_UNTIL = SYSTIMESTAMP + INTERVAL '${days}' DAY
		WHERE USER_NO = #{userNo}
	</update>
	
</mapper>