<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petcareMapper">

	<!-- 펫시터 resultMap -->
	<resultMap type="PetSitter" id="petSitterResultSet">
		<result column="PET_SITTER_NO" property="petSitterNo"/>
		<result column="PET_SITTER_NAME" property="petSitterName"/>
		<result column="INTRODUCE" property="introduce"/>
		<result column="DOG_KEYWORD" property="dogKeword"/>
		<result column="TYPE_KEYWORD" property="typeKeyword"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<!-- 요금 resultMap -->
	<resultMap type="Price" id="priceResultSet">
	    <result column="DURATION_NO" property="durationNo"/>
	    <result column="PET_TYPE_NO" property="petTypeNo"/>
	    <result column="TOTAL_PRICE" property="totalPrice"/>
	    <result column="PRICE_NAME" property="priceName"/>
	</resultMap>
	
	<!-- 예약 resultMap -->
	<resultMap type="Reservation" id="reservationResultSet">
	    <result column="RESERVATION_ID" property="reservationId"/>
	    <result column="PET_OWNER_NAME" property="petOwnerName"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="PHONE" property="phone"/>
	    <result column="VISIT_DATE" property="visitDate"/>
	    <result column="START_TIME" property="startTime"/>
	    <result column="END_TIME" property="endTime"/>
	    <result column="RESERVATION_DATE" property="reservationDate"/>
	    <result column="CAUTION" property="caution"/>
	    <result column="PET_NAME" property="petName"/>
	    <result column="STATUS" property="status"/>
	    <result column="PET_SITTER_NO" property="petSitterNo"/>
	    <result column="DURATION" property="duration"/>
	    <result column="PET_TYPE_NO" property="petTypeNo"/>
	    <result column="ORIGIN_NAME" property="originName"/>
	    <result column="CHANGE_NAME" property="changeName"/>
	    <result column="PAYMENT_STATUS" property="paymentStatus"/>
	    <result column="TOTAL_AMOUNT" property="totalAmount"/>
	</resultMap>
	
	<!-- 결제 resultMap -->
	<resultMap type="Payment" id="paymentResultSet">
	    <result column="PAYMENT_ID" property="paymentId"/>
	    <result column="PG_NAME" property="pgName"/>
	    <result column="USER_NAME" property="userName"/>
	    <result column="USER_NO" property="userNo"/>
	    <result column="AMOUNT" property="amount"/>
	    <result column="PHONE" property="phone"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="PAYMENT_DATE" property="paymentDate"/>
	    <result column="PAYMENT_METHOD" property="paymentMethod"/>
	    <result column="PRODUCT_NAME" property="productName"/>
	    <result column="PAYMENT_STATUS" property="paymentStatus"/>
	    <result column="DIFFERENT_NO" property="differentNo"/>
	    <result column="RESERVATION_NO" property="reservationNo"/>
	    <result column="RESERVATION_HOUSE_NO" property="reservationHouseNo"/>
	</resultMap>
	
	<!-- 회원 resultSet -->
	<resultMap type="Member" id="memberResultSet">
	    <result column="USER_NO" property="userNo"/>
	    <result column="USER_ID" property="userId"/>
	    <result column="PASSWORD" property="password"/>
	    <result column="NAME" property="name"/>
	    <result column="PHONE" property="phone"/>
	    <result column="EMAIL" property="email"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="PET_YN" property="petYN"/>
	    <result column="USER_GRADE" property="userGrade"/>
	    <result column="KIND_NAME" property="kindName"/>
	    <result column="STATUS" property="status"/>
	    <result column="JOIN_DATE" property="joinDate"/>
	    <result column="SITTER_STATUS" property="sitterStatus"/>
	</resultMap>
	
	<!-- 장기돌봄 예약 resultSet -->
	<resultMap type="HouseReservation" id="houseReservationResultSet">
	    <result column="RESERVATION_HOUSE_NO" property="reservationHouseNo"/>
	    <result column="HOUSE_NO" property="houseNo"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="START_DATE" property="startDate"/>
	    <result column="END_DATE" property="endDate"/>
	    <result column="STAY_NO" property="stayNo"/>
	    <result column="CAUTION" property="caution"/>
	    <result column="PET_OWNER_NAME" property="petOwnerName"/>
	    <result column="PHONE" property="phone"/>
	    <result column="PET_NAME" property="petName"/>
	    <result column="PET_TYPE_NO" property="petTypeNo"/>
	    <result column="ORIGIN_NAME" property="originName"/>
	    <result column="CHANGE_NAME" property="changeName"/>
	    <result column="STATUS" property="status"/>
	    <result column="PAYMENT_STATUS" property="paymentStatus"/>
	    <result column="USER_ID" property="userId"/>
	    <result column="TOTAL_AMOUNT" property="totalAmount"/>
	</resultMap>
	
	<!-- 집정보 resultSet -->
	<resultMap type="House" id="houseResultSet">
	    <result column="HOUSE_NO" property="houseNo"/>
	    <result column="OWNER_NAME" property="ownerName"/>
	    <result column="INTRODUCTION_SUMMARY" property="introductionSummary"/>
	    <result column="HOUSE_ADDRESS" property="houseAddress"/>
	    <result column="INTRODUCTION_DETAILED" property="introductionDetailed"/>
	    <result column="NEARBY_HOSPITAL" property="nearbyHospital"/>
	    <result column="ENVIRONMENT_INFO" property="environmentInfo"/>
	    <result column="SUPPLY_GUIDE" property="supplyGuide"/>
	    <result column="CERTIFICATION" property="certification"/>
	    <result column="ORIGIN_NAME" property="originName"/>
	    <result column="FILE_PATH" property="filePath"/>
	    <result column="STATUS" property="status"/>
	</resultMap>
	
	
	
	<!-- ============================ 단기예약 ================================ -->
	
	<!-- 펫시터 선택화면 -->
	<select id="selectSitter" parameterType="AvailableTimes" resultMap="petSitterResultSet">
		SELECT P.PET_SITTER_NO,P.PET_SITTER_NAME, P.INTRODUCE
			  ,P.DOG_KEYWORD,P.TYPE_KEYWORD
			  ,P.ORIGIN_NAME,P.FILE_PATH
		FROM PET_SITTER P
		WHERE P.STATUS = 'Y'
			AND NOT EXISTS (
		    SELECT 1
		    FROM RESERVATION R
		    WHERE R.PET_SITTER_NO = P.PET_SITTER_NO
		    AND R.VISIT_DATE = TO_DATE(#{visitDate}, 'YYYY-MM-DD')
		    AND (
		        (R.START_TIME &lt; #{startTime} AND R.END_TIME > #{endTime})
		    	)
			)
	</select>
	
	<!-- 요금테이블에서 가격정보 가져오기 -->
	<select id="priceTable" parameterType="AvailableTimes" resultMap="priceResultSet">
		SELECT TOTAL_PRICE,PRICE_NAME
		FROM PRICE
		WHERE DURATION_NO = #{duration}
		AND PET_TYPE_NO =#{petTypeNo}
	</select>
	
	<!-- 예약정보 저장하기 -->
	<insert id="enrollReservation" parameterType="Reservation">
		INSERT INTO RESERVATION (
		    RESERVATION_ID,PET_OWNER_NAME
		   ,ADDRESS, PHONE,VISIT_DATE
		   ,START_TIME,END_TIME, RESERVATION_DATE
		   ,CAUTION, PET_NAME
		   ,STATUS
		   ,PET_SITTER_NO
		   ,DURATION, PET_TYPE_NO
		   ,ORIGIN_NAME, CHANGE_NAME
		   ,PAYMENT_STATUS,USER_ID ,TOTAL_AMOUNT
		) VALUES (
		    RESERVATION_SEQ.NEXTVAL,
		    #{petOwnerName},
		    #{address},
		    #{phone},
		    TO_DATE(#{visitDate}, 'YYYY-MM-DD'),
		    #{startTime},
		    #{endTime},
		    SYSDATE,
		    #{caution},
		    #{petName},
		    DEFAULT,
		    #{petSitterNo},
		    #{duration},
		    #{petTypeNo},
		    #{originName},
		    #{changeName},
		    DEFAULT,
		    #{userId},
		    #{totalAmount}
		)
	</insert>
	
	<!-- 결제전 펫시터 정보 보여주기 -->
	<select id="sitterInfo" parameterType="Reservation" resultMap="petSitterResultSet">
		SELECT PET_SITTER_NAME,INTRODUCE,PHONE,ORIGIN_NAME,FILE_PATH
		FROM PET_SITTER
		WHERE PET_SITTER_NO = #{petSitterNo}
	</select>
	
	
	<!-- 예약번호 가져오기 -->
	<select id="selectReservationId" parameterType="Payment" resultType="_int">
		SELECT RESERVATION_ID
		FROM PAYMENT
		WHERE PAYMENT_ID= #{paymentId}
	</select>
	<!-- ============================ 단기예약 ================================ -->
	
	
	<!-- ============================ 결제 ================================ -->
	<!-- 결제내역 저장하기 -->
	<insert id="insertPayment" parameterType="Payment">
		INSERT INTO PAYMENT (
							 PAYMENT_ID
							,PG_NAME
							,USER_NO
							,USER_NAME
							,USER_ID
							,AMOUNT
							,PHONE
							,ADDRESS
							,PAYMENT_METHOD
							,PRODUCT_NAME
							,PAYMENT_DATE
							,PAYMENT_STATUS
							,DIFFERENT_NO
							,RESERVATION_ID
							,RESERVATION_HOUSE_NO
							) 
		VALUES (
				 #{paymentId}, #{pgName}, #{userNo}, #{userName}, #{userId}
			   , #{amount}, #{phone}, #{address}, #{paymentMethod}, #{productName}
			   , SYSDATE,DEFAULT,#{differentNo},#{reservationNo},#{reservationHouseNo}
				)
	</insert>
	
	<!-- 결제내역 보여주기 -->
	<select id="payDetail" parameterType="string" resultMap="paymentResultSet">
		 SELECT  PAYMENT_ID
		 		,PG_NAME
				,USER_NAME
				,USER_ID
				,AMOUNT
				,PHONE
				,ADDRESS
				,PAYMENT_METHOD
				,PRODUCT_NAME
				,PAYMENT_DATE
				,PAYMENT_STATUS
				,DIFFERENT_NO
				,RESERVATION_ID
				,RESERVATION_HOUSE_NO
		FROM PAYMENT
		WHERE PAYMENT_ID = #{paymentId}
	</select>
	
	<!-- 결제확정 후 각 paymentStatus 업뎃 -->
	<update id="updateReservation" parameterType="string">
		UPDATE RESERVATION 
		SET PAYMENT_STATUS = 2
		WHERE RESERVATION_ID = #{reservationNo}
	</update>
	<update id="updateHouseRe" parameterType="string">
		UPDATE HOUSE_RESERVATION
		SET PAYMENT_STATUS = 2 
		WHERE RESERVATION_HOUSE_NO = #{reservationHouseNo}
	</update>
	
	
	<!-- ============================ 결제 ================================ -->
	
	
	
	<!-- ============================ 장기돌봄 예약 ================================ -->
	
	<!-- 장기돌봄 처음 페이지 화면 -->
	
	<select id="firstHouseList" resultMap="houseResultSet">
		SELECT H.OWNER_NAME, H.HOUSE_ADDRESS, H.INTRODUCTION_SUMMARY,
     		   H.ORIGIN_NAME, H.FILE_PATH, H.HOUSE_NO
		FROM HOUSE H 
	</select>
	<select id="firstListCount" resultType="_int">
		SELECT COUNT(*)
		FROM HOUSE
	</select>
	
	<!-- 장기돌봄 집리스트 조건부로 불러오기 -->
	<select id="selectHouseList" parameterType="HouseReservation" resultMap="houseResultSet">
		SELECT H.OWNER_NAME, H.HOUSE_ADDRESS, H.INTRODUCTION_SUMMARY,
     		   H.ORIGIN_NAME, H.FILE_PATH, H.HOUSE_NO
		FROM HOUSE H 
		WHERE H.HOUSE_ADDRESS LIKE '%'||#{address}||'%'
		AND NOT EXISTS(
						SELECT *
						FROM HOUSE_RESERVATION R
						WHERE H.HOUSE_NO = R.HOUSE_NO
						AND R.START_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
						AND R.END_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
					   )
	</select> 
	
	<!-- 페이징바 처리 -->
	<select id="listCount" parameterType="HouseReservation" resultType="_int">
		SELECT COUNT(*) 
		FROM HOUSE H
		WHERE H.HOUSE_ADDRESS LIKE '%'||#{address}||'%'
		AND NOT EXISTS(
						SELECT *
						FROM HOUSE_RESERVATION R
						WHERE H.HOUSE_NO = R.HOUSE_NO
						AND R.START_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
						AND R.END_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
					   )
	</select>
	
	<!-- 집 상세정보 -->
	<select id="detailHouse" parameterType="_int" resultMap="houseResultSet">
		SELECT HOUSE_NO, OWNER_NAME, HOUSE_ADDRESS, INTRODUCTION_SUMMARY, INTRODUCTION_DETAILED,
			   NEARBY_HOSPITAL, ORIGIN_NAME, FILE_PATH
		FROM HOUSE
		WHERE HOUSE_NO = #{houseNo}
		AND STATUS = 'Y'
	</select>
	
	<!-- 집 요금정보 -->
	<select id="selectHousePrice" resultType="HousePrice">
		SELECT STAY_NO AS stayNo,STAY_NAME AS stayName,PRICE AS price FROM HOUSE_PRICE
	</select>
	
	<!-- 인증정보 -->
	<select id="selectCertification" parameterType="_int" resultType="Certification">
		SELECT C.CERTIFICATION_NO AS certificationNo,
			   C.CERTIFICATION_NAME AS certificationName,
		       C.ORIGIN_NAME AS originName,
		       C.FILE_PATH AS filePath
		FROM HOUSE H
		JOIN HOUSE_CERTIFICATION HC ON H.HOUSE_NO = HC.HOUSE_NO
		JOIN CERTIFICATION C ON HC.CERTIFICATION_NO = C.CERTIFICATION_NO
		WHERE H.HOUSE_NO = #{houseNo}
	</select>
	
	<select id="selectEnvironment" parameterType="_int" resultType="Environment">
		SELECT E.ENVIRONMENT_NO AS environmentNo,
		       E.ENVIRONMENT_NAME AS environmentName
		FROM HOUSE H
		JOIN HOUSE_ENVIRONMENT HE ON H.HOUSE_NO = HE.HOUSE_NO
		JOIN ENVIRONMENT E ON HE.ENVIRONMENT_NO = E.ENVIRONMENT_NO
		WHERE H.HOUSE_NO = #{houseNo}
	</select>
	
	<select id="selectSupplyGuide" parameterType="_int" resultType="SupplyGuide">
		SELECT S.SUPPLY_GUIDE_NO AS supplyGuideNo,
		       S.SUPPLY_GUIDE_NAME AS supplyGuideName,
		       S.ORIGIN_NAME AS originName,
		       S.FILE_PATH AS filePath
		FROM HOUSE H
		JOIN HOUSE_SUPPLY_GUIDE HS ON H.HOUSE_NO = HS.HOUSE_NO
		JOIN SUPPLY_GUIDE S ON HS.SUPPLY_GUIDE_NO = S.SUPPLY_GUIDE_NO
		WHERE H.HOUSE_NO = #{houseNo}
	</select>
	
	<insert id="enrollHouse" parameterType="HouseReservation">
		INSERT INTO HOUSE_RESERVATION (
									   RESERVATION_HOUSE_NO,HOUSE_NO
		                              ,START_DATE,END_DATE
		                              ,STAY_NO,CAUTION
		                              ,PET_OWNER_NAME,ADDRESS,PHONE
		                              ,STATUS,PAYMENT_STATUS
		                              ,USER_ID,TOTAL_AMOUNT
					                  )
					                  VALUES(
			                           HOUSE_RESERVATION_SEQ.NEXTVAL,#{houseNo}
					                  ,TO_DATE(#{startDate}, 'YYYY-MM-DD'),TO_DATE(#{endDate}, 'YYYY-MM-DD')
					                  ,#{stayNo},#{caution}
					                  ,#{petOwnerName},#{address},#{phone}
					                  ,DEFAULT,DEFAULT
					                  ,#{userId},#{totalAmount}
					                  )
	</insert>
	
	<!-- 결제 구분을 위한 reservationId 불러오기 -->
	<select id="reservationId" resultType="_int">
		SELECT RESERVATION_SEQ.CURRVAL
		FROM DUAL
	</select>
	
	<!-- 결제 구분을 위한 reservationHouseNo 불러오기 -->
	<select id="houserReservationNo" resultType="_int">
		SELECT HOUSE_RESERVATION_SEQ.CURRVAL
		FROM DUAL
	</select>
	
	<!-- 장기돌봄 선택한 요금정보 -->
	<select id="selectPriceInfo" parameterType="_int" resultType="HousePrice">
		SELECT STAY_NO AS stayNo,STAY_NAME AS stayName,PRICE AS price 
		FROM HOUSE_PRICE 
		WHERE STAY_NO =#{stayNo}
	</select>
	
	<!-- ============================ 장기돌봄 예약 ================================ -->
	
	
	

</mapper>





















