<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">

	<resultMap type="Product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="STATUS" property="statue" />
		<result column="SALES_COUNT" property="salesConunt" />
		<result column="PRICE" property="price" />
		<result column="DISCOUNT" property="discount" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="BRAND_CODE" property="brandCode" />
		<result column="ATTACHMENT" property="attachment" />
	</resultMap>

	<select id="selectList" resultMap="productResultSet">
		SELECT PRODUCT_NO,
		PRODUCT_NAME,
		SALES_COUNT,
		PRICE,
		DISCOUNT,
		CATEGORY_NO,
		P.BRAND_CODE,
		FILE_PATH||CHANGE_NAME ATTACHMENT
		FROM PRODUCT P
		INNER JOIN
		PRODUCT_ATTACHMENT PT USING (PRODUCT_NO)
		WHERE P.STATUS = 'Y'
		AND
		FILE_LEVEL=0
	</select>

	<select id="selectDetail" parameterType="_int"
		resultMap="productResultSet">
		SELECT PRODUCT_NO,
		PRODUCT_NAME,
		SALES_COUNT,
		PRICE,
		DISCOUNT,
		CATEGORY_NO,
		P.BRAND_CODE,
		FILE_PATH||CHANGE_NAME ATTACHMENT
		FROM PRODUCT
		P
		INNER JOIN PRODUCT_ATTACHMENT pt USING (PRODUCT_NO)
		WHERE P.STATUS =
		'Y'
		AND PRODUCT_NO = #{productNo}
		ORDER BY FILE_LEVEL
	</select>

	<select id="selectCategory"
		resultType="com.kh.pjtMungHub.shop.model.vo.Category">
		SELECT CATEGORY_NO categoryNo,
		CATEGORY_NAME categoryName
		FROM PRODUCT_CATEGORY
	</select>
	<select id="selectBrand"
		resultType="com.kh.pjtMungHub.shop.model.vo.Brand">
		SELECT BRAND_CODE brandCode,
		BRAND_NAME brandeName
		FROM BRAND
	</select>

	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT(
		PRODUCT_NO,
		PRODUCT_NAME,
		PRICE,
		DISCOUNT,
		CATEGORY_NO,
		BRAND_CODE)
		VALUES(
		SEQ_PRODUCT.NEXTVAL,
		#{productName},
		#{price},
		#{discount},
		#{categoryNo},
		#{brandCode}
		)
	</insert>

	<insert id="insertAttachment"
		parameterType="com.kh.pjtMungHub.shop.model.vo.ParameterVo">
		INSERT INTO PRODUCT_ATTACHMENT(
		FILE_NO,
		FILE_LEVEL,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_JUSTIFY,
		FILE_PATH,
		<choose>
			<when test="justifying=='product'">
				PRODUCT_NO
			</when>
			<when test="justifying=='review'">
				REVIEW_NO
			</when>
			<when test="justifying=='brand'">
				BRAND_CODE
			</when>
		</choose>
		)VALUES
		<foreach collection="atList" item="arr" separator=",">
			(SEQ_PFILE.NEXTVAL,
			#{arr.fileLev},
			#{arr.originName},
			#{arr.changeName},
			#{arr.fileJustify},
			#{arr.filePath},
			<choose>
				<when test="justifying=='product'">
					SEQ_PRODUCT.CURRVAL
				</when>
				<when test="justifying=='review'">
					SEQ_REVIEW.CURRVAL
				</when>
				<when test="justifying=='brand'">
					SEQ_BRAND.CURRVAL
				</when>
			</choose>
			)
		</foreach>
	</insert>


	<select id="selectCartList" resultType="Cart"
		parameterType="_int">
		SELECT
		PRODUCT_NO productNo,
		P_AMOUNT amount,
		PRODUCT_NAME
		productName,
		PRICE price,
		DISCOUNT discount,
		BRAND_NAME brandName,
		CATEGORY_NAME categoryName,
		FILE_PATH || CHANGE_NAME img
		FROM
		SHOPPING_CART
		LEFT JOIN PRODUCT P
		USING(PRODUCT_NO)
		JOIN BRAND USING
		(BRAND_CODE)
		JOIN PRODUCT_CATEGORY USING (CATEGORY_NO)
		JOIN
		PRODUCT_ATTACHMENT USING (PRODUCT_NO)
		WHERE USER_NO = #{userNo}
		AND FILE_LEVEL= 0
	</select>

	<insert id="addCart" parameterType="Cart">
		MERGE INTO SHOPPING_CART
		USING DUAL
		ON(USER_NO=#{userNo} AND PRODUCT_NO = #{productNo})
		WHEN
		MATCHED THEN
		UPDATE SET P_AMOUNT = P_AMOUNT+#{amount}
		WHEN NOT MATCHED
		THEN
		INSERT (USER_NO,PRODUCT_NO,P_AMOUNT)
		VALUES(#{userNo},#{productNo},#{amount})
	</insert>
	<delete id="removeCartItem"
		parameterType="com.kh.pjtMungHub.shop.model.vo.ParameterVo">
		DELETE FROM SHOPPING_CART
		WHERE USER_NO = #{userNo}
		AND PRODUCT_NO IN(
		<foreach collection="items" item="arr" separator=",">
		#{arr}
		</foreach>
		)
	</delete>
	<update id="updateCartAmount"
	parameterType="com.kh.pjtMungHub.shop.model.vo.ParameterVo">
		UPDATE SHOPPING_CART SET
		P_AMOUNT = P_AMOUNT+#{amount}
		WHERE PRODUCT_NO = #{productNo}
		AND USER_NO = #{userNo}
	</update>
	
	<update id="chooseShipInfo">
		UPDATE SHIP_INFO SET
		CHOOSED = 'N'
		WHERE USER_NO = #{userNo}
	</update>
	
	<insert id="insertShipInfo" 
	parameterType="com.kh.pjtMungHub.shop.model.vo.ShipInfo">
	INSERT INTO SHIP_INFO(
	INFO_NO,
	USER_NO,
	ADDRESS,
	ADDRESS_DETAIL,
	RECIPIENT,
	PHONE
	)VALUES(
	SEQ_SHIP_INFO.NEXTVAL,
	#{userNo},
	#{address},
	#{addressDetail},
	#{recipient},
	#{phone}
	)
	
	</insert>
	<select id="selectShipInfoList"
	 resultType="com.kh.pjtMungHub.shop.model.vo.ShipInfo" 
	 parameterType="_int">
	SELECT INFO_NO infoNo,
	USER_NO userNo,
	ADDRESS address,
	ADDRESS_DETAIL addressDetail,
	RECIPIENT recipient,
	PHONE phone,
	CHOOSED choosed
	FROM SHIP_INFO
	WHERE USER_NO = #{userNo}
	ORDER BY CHOOSED DESC
	</select>
	
	<update id="changeShipInfo" parameterType="com.kh.pjtMungHub.shop.model.vo.ShipInfo">
	UPDATE SHIP_INFO SET CHOOSED = CASE
	WHEN INFO_NO=#{infoNo} THEN 'Y'
	ELSE 'N'
   	END
    WHERE USER_NO=#{userNo}
	</update>
	
	<select id="selectOrderList" resultType="Cart" parameterType="com.kh.pjtMungHub.shop.model.vo.ParameterVo">
	SELECT
		PRODUCT_NO productNo,
		P_AMOUNT amount,
		PRODUCT_NAME productName,
		PRICE price,
		DISCOUNT discount,
		BRAND_NAME brandName,
		CATEGORY_NAME categoryName,
		FILE_PATH || CHANGE_NAME img
		FROM
		SHOPPING_CART
		LEFT JOIN PRODUCT P
		USING(PRODUCT_NO)
		JOIN BRAND USING
		(BRAND_CODE)
		JOIN PRODUCT_CATEGORY USING (CATEGORY_NO)
		JOIN
		PRODUCT_ATTACHMENT USING (PRODUCT_NO)
		WHERE USER_NO = #{userNo}
		AND FILE_LEVEL= 0
		AND PRODUCT_NO IN(
	<foreach collection="checkedItem" item="arr" separator=",">
	#{arr}
	</foreach>
	)	

	</select>
	
	<select id="selectShipInfo"
	resultType="com.kh.pjtMungHub.shop.model.vo.ShipInfo" 
	 parameterType="_int">
	SELECT
	INFO_NO infoNo,
	USER_NO userNo,
	ADDRESS address,
	ADDRESS_DETAIL addressDetail,
	RECIPIENT recipient,
	PHONE phone,
	CHOOSED choosed
	FROM SHIP_INFO
	WHERE USER_NO = #{userNo}
	AND CHOOSED= 'Y'
	</select>
</mapper>