<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weddingMapper">

<select id="selectBreeds" resultType="Breed">
SELECT BREED_ID breedId
,BREED_NAME breedName
FROM BREED
</select>

<select id="selectWeddings" resultType="Wedding">
SELECT WEDDING_NO weddingNo,
PET_NAME petName,
P.PET_GENDER gender,
B.BREED_NAME breed,
USER_NO userNo,
PEDIGREE pedigree,
MEETING_METHOD meetingMethod,
PET_INTRO petIntro,
PET_NOTE petNote,
ORIGIN_NAME originName,
CHANGE_NAME changeName
FROM WEDDING W, PET P, BREED B 
WHERE W.APPROVAL ='Y'
AND W.PET_NO = P.PET_NO
AND P.BREED_ID = B.BREED_ID
</select>

<select id="selectWedding" parameterType="_int" resultType="Wedding">
SELECT WEDDING_NO weddingNo
,P.PET_NO petNo
,P.PET_NAME petName
,B.BREED_NAME breed
,M.USER_NO userNo
,M.NAME userName
,P.PET_AGE petAge
,P.WEIGHT weight
,PEDIGREE pedigree
,P.PET_GENDER gender
,MEETING_METHOD meetingMethod
,PET_INTRO petIntro
,PET_NOTE petNote
,ORIGIN_NAME originName
,CHANGE_NAME changeName
,APPROVAL approval
FROM WEDDING W, PET P, BREED B, MEMBER M
WHERE W.PET_NO = P.PET_NO
AND B.BREED_ID = P.BREED_ID
AND W.USER_NO = M.USER_NO
AND WEDDING_NO= #{weddingNo}
</select>

<select id="selectPet" parameterType="_int" resultType="Pet">
SELECT PET_NO petNo
,BREED_NAME breed
,OWNER_NO ownerNo
,PET_NAME petName
,PET_AGE petAge
,PET_GENDER petGender
,WEIGHT weight
FROM PET
JOIN BREED USING(BREED_ID)
WHERE OWNER_NO = #{userNo}
</select>

<insert id="insertWedding" parameterType="Wedding">
INSERT INTO WEDDING 
VALUES(SEQ_WED.NEXTVAL
,#{petNo}
,#{userNo}
,#{pedigree}
,#{meetingMethod}
,#{petIntro}
,#{petNote}
,#{originName}
,#{changeName}
,DEFAULT)

</insert>

<insert id="insertVaccine" parameterType="Vaccine">
	INSERT INTO	VACCINE VALUES(SEQ_VAC.NEXTVAL
			,#{petNo}
			,#{originName}
			,#{changeName}
			)
</insert>
<select id="selectRegList" resultType="Wedding">
SELECT WEDDING_NO weddingNo
,P.PET_NAME petName
,B.BREED_NAME breed
,M.NAME userName
,PEDIGREE pedigree
,MEETING_METHOD meetingMethod
,PET_INTRO petIntro
,PET_NOTE petNote
,W.ORIGIN_NAME originName
,W.CHANGE_NAME changeName
,APPROVAL approval
FROM WEDDING W,PET P,BREED B, MEMBER M
WHERE W.PET_NO = P.PET_NO
AND W.USER_NO = P.OWNER_NO
AND B.BREED_ID = P.BREED_ID
AND W.USER_NO = M.USER_NO
</select>

<update id="rejectReg" parameterType="Wedding">
UPDATE WEDDING 
SET APPROVAL = 'R'
,REASON = #{reason}
WHERE WEDDING_NO = #{weddingNo}
</update>

<update id="approveReg" parameterType="_int">
UPDATE WEDDING
SET APPROVAL = 'Y'
WHERE WEDDING_NO = #{weddingNo}
</update>
</mapper>